<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.employee_api.DepartmentMapper">

    <select id="findAll" resultType="com.example.employee_api.model.Department">
        SELECT
            id,
            name,
            parent_id
        FROM
            m_department
        ORDER BY
            id
    </select>

    <select id="findById" parameterType="long" resultType="com.example.employee_api.model.Department">
        SELECT
            id,
            name,
            parent_id
        FROM
            m_department
        WHERE
            id = #{id}
    </select>

    <insert id="insert" parameterType="com.example.employee_api.model.Department">
        INSERT INTO m_department (
            name,
            parent_id
        ) VALUES (
            #{name},
            #{parentId}
        )
    </insert>

    <update id="update" parameterType="com.example.employee_api.model.Department">
        UPDATE
            m_department
        SET
            name = #{name},
            parent_id = #{parentId}
        WHERE
            id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM
            m_department
        WHERE
            id = #{id}
    </delete>

    <select id="search" resultType="com.example.employee_api.model.Department">
        SELECT
            id,
            name,
            parent_id
        FROM
            m_department
        <where>
            <if test="keyword != null and keyword != ''">
                name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
        ORDER BY
            id
    </select>

</mapper>