<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.employee_api.mapper.EmployeeMapper">

    <select id="findAll" resultType="com.example.employee_api.model.Employee">
        SELECT
            e.id,
            e.name,
            e.department_id,
            d.name AS department_name
        FROM
            m_employee e
        LEFT JOIN
            m_department d
        ON
            e.department_id = d.id
        ORDER BY
            e.id
    </select>

    <select id="findById" parameterType="long" resultType="com.example.employee_api.model.Employee">
        SELECT
            e.id,
            e.name,
            e.department_id,
            d.name AS department_name
        FROM
            m_employee e
        LEFT JOIN
            m_department d
        ON
            e.department_id = d.id
        WHERE
            e.id = #{id}
    </select>

    <insert id="insert" parameterType="com.example.employee_api.model.Employee">
        INSERT INTO m_employee (
            name,
            department_id
        ) VALUES (
            #{name},
            #{departmentId}
        )
    </insert>

    <update id="update" parameterType="com.example.employee_api.model.Employee">
        UPDATE
            m_employee
        SET
            name = #{name},
            department_id = #{departmentId}
        WHERE
            id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM
            m_employee
        WHERE
            id = #{id}
    </delete>

    <select id="search" resultType="com.example.employee_api.model.Employee">
        SELECT
            e.id,
            e.name,
            e.department_id,
            d.name AS department_name
        FROM
            m_employee e
        LEFT JOIN
            m_department d
        ON
            e.department_id = d.id
        <where>
            <if test="keyword != null and keyword != ''">
                e.name LIKE CONCAT('%', #{keyword}, '%')
            </if>

            <if test="department != null and department != ''">
                AND d.name LIKE CONCAT('%', #{department}, '%')
            </if>
        </where>
        ORDER BY
            e.id
    </select>

</mapper>