<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>社員編集</title>
</head>
<body>
    <h1>社員編集</h1>

    <form th:action="@{/employees-ui/update}" th:object="${employee}" method="post">
        <input type="hidden" th:field="*{id}">

        <div>
            名前: <input type="text" th:field="*{name}">
        </div>

        <div>
            部署: <input type="text" th:field="*{department}">
        </div>

        <div>
            <button type="submit">更新</button>
        </div>
    </form>

    <br>
    <a th:href="@{/employees}">一覧へ戻る</a>
</body>
</html>