<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>社員一覧</title>
</head>
<body>
    <h1>社員一覧</h1>

	<form th:action="@{/employees/search}" method="get">
    	名前: <input type="text" name="keyword">
    	部署: <input type="text" name="department">
    	<button type="submit">検索</button>
	</form>
	<br>

	<form th:action="@{/employees-ui/add}" th:object="${employee}" method="post">
    	名前: <input type="text" th:field="*{name}">
    	<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
	    <br>

	    部署: <input type="text" th:field="*{department}">
    	<span th:if="${#fields.hasErrors('department')}" th:errors="*{department}"></span>
	    <br>

	    <button type="submit">追加</button>
	</form>

    <br>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>部署</th>
            <th>削除</th>
            <th>編集</th>
        </tr>

        <tr th:each="emp : ${employees}">
            <td th:text="${emp.id}"></td>
            <td th:text="${emp.name}"></td>
            <td th:text="${emp.department}"></td>
            <td>
                <form th:action="@{/employees-ui/delete}" method="post">
                    <input type="hidden" name="id" th:value="${emp.id}">
                    <button type="submit">削除</button>
                </form>
            </td>
            <td>
                <form th:action="@{/edit/{id}(id=${emp.id})}" method="get">
                    <button type="submit">編集</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>